.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Navbar */

.navbarMenuBox {
margin-left: 10rem;
}

.logoImage{
  height:100%;
  width: 20%;
}

/* Landing Screen */

.landingScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


/* Hyperlink */

a:link { text-decoration: none; color: inherit;}


a:visited { text-decoration: none; color: inherit; }


a:hover { text-decoration: none;  color: inherit;}


a:active { text-decoration: none;  color: inherit;}