.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Navbar */

.navbarContainer {
  display: flex;
  flex-direction: row;
  height: 20%;
  width: 100%;
  background: blue;
  
}

/* Landing Screen */

.landingScreen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


/* Hyperlink */

.hyperlink:link { text-decoration: none; }


.hyperlink:visited { text-decoration: none; }


.hyperlink:hover { text-decoration: none; }


.hyperlink:active { text-decoration: none; }